/* Banner.module.css */
.container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url("/assets/banner.png") lightgray 50% / cover no-repeat;
  min-height: 525px;
}

.textBox {
  position: absolute;
  top: 71.5%;
  left: 74.5%;
  transform: translate(-50%, -50%);
  min-width: 643px;
  max-width: 80%;
  min-height: 300px;
  border-radius: 10px;
  background: #fff3e3;
  color: #222;
  padding: 24px 32px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  padding: 85px 56px 0 41px;
  text-align: left;
}
