.footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 201px 48px 100px;
}

.logotxt {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.logotxt h3 {
  color: #000;
  font-size: 24px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.logotxt p {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.links h4 {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.links ul {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.links li {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.newsletter h4 {
  color: #9f9f9f;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.newsletterForm {
  display: flex;
  align-items: center;
  gap: 11px;
}

.newsletterForm input[type="email"],
.newsletterForm input[type="text"] {
  border: none;
  border-bottom: 1px solid #000;
  outline: none;
  padding: 8px 0;
  font-size: 14px;
  color: #000;
  background: transparent;
  width: 220px;
  margin-right: 0;
}

.newsletterForm input::placeholder {
  color: #9f9f9f;
  opacity: 1;
  font-size: 16px;
}

.newsletterForm button {
  background: transparent;
  color: #000;
  border: none;
  padding: 8px 0;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid #000;
}

.newsletterForm button:hover {
  background: #333;
}

.endfooter {
  padding: 0 100px;
}

.endfooter p {
  padding: 38px 2px;
}
