.container {
  display: flex;
  justify-content: center;
  gap: 38px;
  padding: 70px 0 85px;
}

.button {
  border-radius: 10px;
  background: #f9f1e7;
  color: #000;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 24px;
  border: none;
  cursor: pointer;
  transition: background 0.2s;
}

.active {
  background: #b88e2f !important;
  color: #fff !important;
  font-weight: 700;
}
