.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  justify-items: center;
  margin-top: 24px;
}

@media (max-width: 900px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .productList {
    grid-template-columns: 1fr;
  }
}
